<?xml version="1.0"?>
<robot name="so101_new_calib" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find arm_description)/description/camera.xacro"/>

  <!-- ======================= -->
  <!-- Materials -->
  <!-- ======================= -->
  <material name="3d_printed">
    <color rgba="1.0 0.82 0.12 1.0"/>
  </material>

  <material name="sts3215">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <!-- ======================= -->
  <!-- Macros -->
  <!-- ======================= -->

  <xacro:macro name="mesh_geom" params="file">
    <geometry>
      <mesh filename="model://arm_description/assets/${file}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="visual_mesh" params="xyz rpy file material">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <xacro:mesh_geom file="${file}"/>
      <material name="${material}"/>
    </visual>
  </xacro:macro>

  <xacro:macro name="collision_mesh" params="xyz rpy file">
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <xacro:mesh_geom file="${file}"/>
    </collision>
  </xacro:macro>

  <xacro:macro name="part" params="xyz rpy file material">
    <xacro:visual_mesh xyz="${xyz}" rpy="${rpy}" file="${file}" material="${material}"/>
    <xacro:collision_mesh xyz="${xyz}" rpy="${rpy}" file="${file}"/>
  </xacro:macro>

  <xacro:macro name="inertial_block" params="xyz mass ixx ixy ixz iyy iyz izz">
    <inertial>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia
        ixx="${ixx}" ixy="${ixy}" ixz="${ixz}"
        iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="revolute_joint" params="name parent child xyz rpy axis lower upper effort velocity">
    <joint name="${name}" type="revolute">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${child}"/>
      <axis xyz="${axis}"/>
      <limit effort="${effort}" velocity="${velocity}" lower="${lower}" upper="${upper}"/>
    </joint>
  </xacro:macro>

  <!-- ======================= -->
  <!-- Links -->
  <!-- ======================= -->


  <link name="base_link">
    <xacro:inertial_block
      xyz="0.0137179 -5.19711e-05 0.0334843"
      mass="0.147"
      ixx="0.000114686" ixy="-4.59787e-07" ixz="4.97151e-06"
      iyy="0.000136117" iyz="9.75275e-08" izz="0.000130364"/>

    <xacro:part
      xyz="-0.00636471 -9.94414e-05 -0.0024"
      rpy="1.5708 -1.67685e-15 1.5708"
      file="base_motor_holder_so101_v1.stl"
      material="3d_printed"/>

    <xacro:part
      xyz="-0.00636471 -8.97657e-09 -0.0024"
      rpy="1.5708 -2.78073e-29 1.5708"
      file="base_so101_v2.stl"
      material="3d_printed"/>

    <xacro:part
      xyz="0.0263353 -8.97657e-09 0.0437"
      rpy="-8.21148e-16 7.84513e-18 1.249e-15"
      file="sts3215_03a_v1.stl"
      material="sts3215"/>

    <xacro:part
      xyz="-0.0309827 -0.000199441 0.0474"
      rpy="1.5708 -1.35493e-14 1.5708"
      file="waveshare_mounting_plate_so101_v2.stl"
      material="3d_printed"/>
  </link>

  <link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0"/>
  </joint>

  <link name="shoulder_link">
    <xacro:inertial_block
      xyz="-0.0307604 -1.66727e-05 -0.0252713"
      mass="0.100006"
      ixx="8.3759e-05" ixy="7.55525e-08" ixz="-1.16342e-06"
      iyy="8.10403e-05" iyz="1.54663e-07" izz="2.39783e-05"/>

    <xacro:part
      xyz="-0.0303992 0.000422241 -0.0417"
      rpy="1.5708 1.5708 0"
      file="sts3215_03a_v1.stl"
      material="sts3215"/>

    <xacro:part
      xyz="-0.0675992 -0.000177759 0.0158499"
      rpy="1.5708 -1.5708 0"
      file="motor_holder_so101_base_v1.stl"
      material="3d_printed"/>

    <xacro:part
      xyz="0.0122008 2.22413e-05 0.0464"
      rpy="-1.5708 2.35221e-33 0"
      file="rotation_pitch_so101_v1.stl"
      material="3d_printed"/>
  </link>

  <link name="upper_arm_link">
    <xacro:inertial_block
      xyz="-0.0898471 -0.00838224 0.0184089"
      mass="0.103"
      ixx="4.08002e-05" ixy="-1.97819e-05" ixz="-4.03016e-08"
      iyy="0.000147318" iyz="8.97326e-09" izz="0.000142487"/>

    <xacro:part
      xyz="-0.11257 -0.0155 0.0187"
      rpy="-3.14159 -5.27356e-16 -1.5708"
      file="sts3215_03a_v1.stl"
      material="sts3215"/>

    <xacro:part
      xyz="-0.065085 0.012 0.0182"
      rpy="3.14159 -0 -1.30911e-30"
      file="upper_arm_so101_v1.stl"
      material="3d_printed"/>
  </link>

  <link name="lower_arm_link">
    <xacro:inertial_block
      xyz="-0.0980701 0.00324376 0.0182831"
      mass="0.104"
      ixx="2.87438e-05" ixy="7.41152e-06" ixz="1.26409e-06"
      iyy="0.000159844" iyz="-4.90188e-08" izz="0.00014529"/>

    <xacro:part
      xyz="-0.0648499 -0.032 0.0182"
      rpy="3.14159 -0 6.67202e-31"
      file="under_arm_so101_v1.stl"
      material="3d_printed"/>

    <xacro:part
      xyz="-0.0648499 -0.032 0.018"
      rpy="-3.14159 -2.55351e-15 -1.83387e-30"
      file="motor_holder_so101_wrist_v1.stl"
      material="3d_printed"/>

    <xacro:part
      xyz="-0.1224 0.0052 0.0187"
      rpy="-3.14159 -7.88861e-31 -3.14159"
      file="sts3215_03a_v1.stl"
      material="sts3215"/>
  </link>

  <link name="wrist_link">
    <xacro:inertial_block
      xyz="-0.000103312 -0.0386143 0.0281156"
      mass="0.079"
      ixx="3.68263e-05" ixy="1.7893e-08" ixz="-5.28128e-08"
      iyy="2.5391e-05" iyz="3.6412e-06" izz="2.1e-05"/>

    <xacro:part
      xyz="8.32667e-17 -0.0424 0.0306"
      rpy="1.5708 1.5708 0"
      file="sts3215_03a_no_horn_v1.stl"
      material="sts3215"/>

    <xacro:part
      xyz="0 -0.028 0.0181"
      rpy="-1.5708 -1.5708 0"
      file="wrist_roll_pitch_so101_v2.stl"
      material="3d_printed"/>
  </link>

  <link name="gripper_link">
    <xacro:inertial_block
      xyz="0.000213627 0.000245138 -0.025187"
      mass="0.087"
      ixx="2.75087e-05" ixy="-3.35241e-07" ixz="-5.7352e-06"
      iyy="4.33657e-05" iyz="-5.17847e-08" izz="3.45059e-05"/>

    <xacro:part
      xyz="0.0077 0.0001 -0.0234"
      rpy="-1.5708 -5.19179e-17 -1.66533e-16"
      file="sts3215_03a_v1.stl"
      material="sts3215"/>

    <xacro:part
      xyz="8.32667e-17 -0.000218214 0.000949706"
      rpy="-3.14159 -5.55112e-17 0"
      file="wrist_roll_follower_so101_v1.stl"
      material="3d_printed"/>
  </link>

  <link name="gripper_frame_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>

  <link name="moving_jaw_so101_v1_link">
    <xacro:inertial_block
      xyz="-0.00157495 -0.0300244 0.0192755"
      mass="0.012"
      ixx="6.61427e-06" ixy="-3.19807e-07" ixz="-5.90717e-09"
      iyy="1.89032e-06" iyz="-1.09945e-07" izz="5.28738e-06"/>

    <xacro:part
      xyz="-5.55112e-17 -5.55112e-17 0.0189"
      rpy="9.53145e-17 6.93889e-18 1.24077e-24"
      file="moving_jaw_so101_v1.stl"
      material="3d_printed"/>
  </link>

  <!-- ======================= -->
  <!-- Joints -->
  <!-- ======================= -->

  <joint name="gripper_frame_joint" type="fixed">
    <origin xyz="-0.0079 -0.000218121 -0.0981274" rpy="0 3.14159 0"/>
    <parent link="gripper_link"/>
    <child link="gripper_frame_link"/>
    <axis xyz="0 0 0"/>
  </joint>

  <xacro:revolute_joint
    name="gripper"
    parent="gripper_link"
    child="moving_jaw_so101_v1_link"
    xyz="0.0202 0.0188 -0.0234"
    rpy="1.5708 -5.24284e-08 -1.41553e-15"
    axis="0 0 1"
    lower="-0.174533"
    upper="1.74533"
    effort="10"
    velocity="10"/>

  <xacro:revolute_joint
    name="wrist_roll"
    parent="wrist_link"
    child="gripper_link"
    xyz="5.55112e-17 -0.0611 0.0181"
    rpy="1.5708 0.0486795 3.14159"
    axis="0 0 1"
    lower="-2.74385"
    upper="2.84121"
    effort="10"
    velocity="10"/>

  <xacro:revolute_joint
    name="wrist_flex"
    parent="lower_arm_link"
    child="wrist_link"
    xyz="-0.1349 0.0052 3.62355e-17"
    rpy="4.02456e-15 8.67362e-16 -1.5708"
    axis="0 0 1"
    lower="-1.65806"
    upper="1.65806"
    effort="10"
    velocity="10"/>

  <xacro:revolute_joint
    name="elbow_flex"
    parent="upper_arm_link"
    child="lower_arm_link"
    xyz="-0.11257 -0.028 1.73763e-16"
    rpy="-3.63608e-16 8.74301e-16 1.5708"
    axis="0 0 1"
    lower="-1.69"
    upper="1.69"
    effort="10"
    velocity="10"/>

  <xacro:revolute_joint
    name="shoulder_lift"
    parent="shoulder_link"
    child="upper_arm_link"
    xyz="-0.0303992 -0.0182778 -0.0542"
    rpy="-1.5708 -1.5708 0"
    axis="0 0 1"
    lower="-1.74533"
    upper="1.74533"
    effort="10"
    velocity="10"/>

  <xacro:revolute_joint
    name="shoulder_pan"
    parent="base_link"
    child="shoulder_link"
    xyz="0.0388353 -8.97657e-09 0.0624"
    rpy="3.14159 4.18253e-17 -3.14159"
    axis="0 0 1"
    lower="-1.91986"
    upper="1.91986"
    effort="10"
    velocity="10"/>

  <!-- ======================= -->
  <!-- ros2_control -->
  <!-- ======================= -->

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="shoulder_pan">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="shoulder_lift">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="elbow_flex">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wrist_flex">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wrist_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="gripper">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find arm_description)/config/controllers.yaml</parameters>
      <ros>
        <argument>--ros-args</argument>
        <argument>-p</argument>
        <argument>use_sim_time:=true</argument>
      </ros>
    </plugin>
  </gazebo>
  <xacro:camera_sensor
    parent="wrist_link"
    prefix="camera"
    xyz="-0.08 -0.05 0.02"
    rpy="1.57 0.00 -1.02"
    width="1280"
    height="720"
    hfov="1.5708"
    update_rate="30"/>

</robot>